<h1>Form Test</h1>
<hr>
<div [formGroup]="form" class="form">
    <lib-custom-input formControlName="myInput1" name="myInput1"></lib-custom-input>
    <lib-custom-input formControlName="myInput2" name="myInput2"></lib-custom-input>
    <lib-custom-input formControlName="myInput3" name="myInput3"></lib-custom-input>
</div>

<br>
<button (click)="form.get('myInput1')?.patchValue('Patch myInput 1')">Patch myInput 1</button>
<button (click)="form.get('myInput2')?.patchValue('Patch myInput 2')">Patch myInput 2</button>
<button (click)="form.get('myInput3')?.patchValue('Patch myInput 3')">Patch myInput 3</button>

<hr>
<pre style="white-space: pre-line">
    {{form.value | json}}
</pre>